.inventary_Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inventary_Form h2 {
    margin-bottom: 20px;
    color: #333;
}

.inventary_Form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.inventary_Form button {

    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 50px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.inventary_Form button:hover {
    background-color: #444;
}

.inventary_Form .error {
    color: red;
    margin: 10px 0;
    text-align: center;
}

.button_container {
    display: flex;
    justify-content: end;

    width: 100%;
}